<h2 class = "text-center">新規登録画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field form-group">
    <%= f.label :username, "ユーザー名" %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
      <%= f.text_field :username, 
        autofocus: true, 
        autocomplete: "username", 
        placeholder: "ユーザー名", 
        required: "",
        class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :email, "メール" %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
    <%= f.email_field :email,
      autofocus: true, 
      autocomplete: "email", 
      placeholder: "メールアドレス", 
      required: "", 
      class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :image, 'アイコン' %><br>
    <%= f.file_field :image %>
  </div>
  
  
  <div class="field form-group">
    <%= f.label :gender, '性別' %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
    <%= f.select :gender, {'男性': 1, '女性': 2, '未選択': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: "", } %>
  </div>
  
  <div class="field form-group">
    <%= f.label :age, '歳' %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
    <%= f.select :age, {'10代': 1, '20代': 2, '30代': 3, '40代': 4, '50代': 5, '60代': 6, '70代': 7, '80代': 8, '90代': 9}, { include_blank: '選択してください'}, { class: 'form-control' , required: "", } %>
  </div>
   
  <div class="field form-group">
    <%= f.label :prefectures, "お住まい" %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
    <%= f.collection_select :prefectures, Prefecture.all, :id, :name, {include_blank: '選択してください'}, {class: "form-control", required: ""} %>
    <!--<= f.select :prefectures, User.all.map { |user| [user.prefectures, user.id] }, { include_blank: '選択してください'}, { class: 'form-control' } %>-->
  </div>

  <div class="field form-group">
    <%= f.label :password, "パスワード" %><small class="p-1 btn-danger text-white rounded-pill">必須</small>
    <% if @minimum_password_length %>
    <em>※<%= @minimum_password_length %>文字以上</em>
    <% end %><br />
    <%= f.password_field :password,
      autocomplete: "new-password",
      placeholder: "パスワード",
      required: "", 
      class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "パスワード確認" %><small class="p-1 btn-danger text-white rounded-pill">必須</small><br />
    <%= f.password_field :password_confirmation, 
      autocomplete: "new-password", 
      placeholder: "パスワード（確認）", 
      required: "", 
      class: "form-control" %>
  </div>

  <div>
    <div class = "container row mb-2">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-success mx-3" %>
    </div>

    <div class="text-center">または</div>
    
    <%= link_to user_twitter_omniauth_authorize_path do %>
      <i class="fab fa-twitter fa-2x"></i>
    <% end %>
    
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <i class="fab fa-google fa-2x"></i>
    <% end %>
  </div>
  
<% end %>


