<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いんすたぐらむ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main class="d-flex align-items-bottom">
      <%= yield %>
    </main>
    <div class = "col-12 text-center my-3">
      <%= form_with model: @chat do |f| %>
        <%= f.text_field :message, 
        required: "" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信"%>
      <% end %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>