<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いんすたぐらむ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8c770f7830.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class = "top-image">
      <img src="/assets/training.jpg">
      <div class = "container">
        <%= render "layouts/flash" %>
        <%= render "layouts/about"%>
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
